<p>Añadir Comentario:</p>

<form method="post" action="/quizes/<%= quizid %>/comments">
  <p>
    <label for="comentario" class="rem">Comentario</label>
    <input type="text" id="comentario" name="comment[texto]" value="">
  </p>
  <button type="submit">Guardar Commentario</button>
</form>
