<h3>Autores del Quiz</h3>
<p>
  Fernando Alfonso Villanueva <br/>
  <a href="mailto:feralvil@gmail.com">Contacto</a>
</p>
<p><img src="/images/foto.png" alt="Foto" title="Foto" /></p>
<p>
<a href="https://github.com/feralvil/Quiz-M6" target="_blank">GitHub del Proyecto</a>
</p>
