<h2>Iniciar Sesión</h2>

<form method="post" action="/login">
  <div class="field">
    <label for="login" class="rem">Usuario</label>
    <input type="text" id="login" name="login" value="" size="20">
  </div>
  <div class="field">
    <label for="password" class="rem">Contraseña</label>
    <input type="password" id="password" name="password" value="" size="20">
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Iniciar Sesión">
  </div>
</form>
